@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: grey;
}

h1 {
  text-align: center;
}

.container--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container--images img {
  width: 24.9rem;
  height: 16rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  object-fit: cover;
}
